::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;

  border-radius: 7px;
  border: 3px solid #F1F1F1;
}
::-webkit-scrollbar-thumb:hover {
  background: #C1C1C1;

  border-radius: 7px;
  border: 3px solid #F1F1F1;
}